<nav class="navbar">
  <div class="panel-footer footer footer-bg">
    <div class="container">
      <span style="float:left;">© 2018 Copyright:
        <a href="http://cryantech.com/"> CryanTech.com</a></span>

      <span style="float:right;">
        <audio preload="auto" id="id12" controls="controls" autoplay="true"
          style="background-color: transparent; opacity: 0.9; width: 50px; background-position: left;" loop="loop"
          onclick="stopAudio();" src="../assets/music/slogan.mp3"></audio>
      </span>
    </div>
  </div>
</nav>
  <script type="text/javascript">
    function stopAudio() {
      var audioId = document.getElementById('id12');
      audioId.pause();
      audioId.currentTime = 0;
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>