<table width="100%">
  <tr>
    <td align="center" valign="top">
      <!-- Header Starts -->
      <table width="1002" class="Table2" cellspacing="0" cellpadding="0" id="Table2">
        <tr>
          <td>
            <div class="panel panelorange">
              <div style="text-align: center" class="panel-heading">
                <!-- TVD Donar's list for Temple Sevas and Nandi /  -->
                తోటరామన్నవూరు వేంకటేశ్వరస్వామి దేవస్థానము దాతల వివరాలు
              </div>
            </div>

            <!-- <form class="form-horizontal"> -->
            <div class="search-div">
              <button mat-raised-button (click)="onCreate()">
                <mat-icon>add</mat-icon>Create
              </button>
              <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Thota" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                  (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-button *ngIf=isShowBtn #matBtn value="Paid" (click)="donationBooking()" class="matBtnToggle pull-right">Advance Booking</button>
              <button mat-raised-button #matRaisedBtn *ngIf=isShowRaiseBtn value="Pending" (click)="donationBooked()" class="matRaiseBtnToggle pull-right">Advance Booking</button>
            </div>

            <div class="mat-elevation-z8">
              <mat-table [dataSource]="listData" matSort>
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="donorName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Donor Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.donorName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="donationDetails">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.donationDetails}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="donationAmount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.donationAmount}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="monthYear">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Donation Month</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.monthYear}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="donationStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.donationStatus}}
                    <!-- <div *ngIf="element.donationStatus == 'Pending'">
                      Pending
                    </div>
                    <div *ngIf="element.donationStatus == 'Paid'">
                      Paid
                    </div> -->
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button *ngIf="row.donationStatus == 'Pending'" (click)="onEdit(row)">
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="row.donationStatus == 'Paid'" (click)="onDisplay(row)">
                      <mat-icon>info</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="row.donationStatus == 'Pending'" color="warn" (click)="onDelete(row.$key)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                  [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[6, 12, 25, 100]" [pageSize]="6" showFirstLastButtons></mat-paginator>
            </div>
            <!-- </form> -->
          </td>
        </tr>
      </table>
      <!-- Header Ends -->
    </td>
  </tr>
</table>
