<form class="form-horizontal">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">
        Temple Sevas and Pujas for Venki / నిత్య పూజ సేవా దాతలు
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Sr. No.</th>
              <th class="text-center">Seva Name</th>
              <th class="text-center">Amount (monthly/నెలవారి)</th>
            </tr>
          </thead>
          <tbody>
            <tr class="active">
              <td>1</td>
              <td>Nitya Pooja Seva / రోజువారి పూజ</td>
              <td class="text-right">₹ 500 /-</td>
            </tr>
            <tr class="success">
              <td>2</td>
              <td>Devara Eddu Posana / దేవర ఏద్దు పొషణ</td>
              <td class="text-right">₹ 5000 /-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <h3 class="panel-title text-center">
        Donors need to transfor amount between 1st & 5th dates of respective
        month.
      </h3>
    </div>
  </div>
</form>
