.w-75 {
  width: 75px;
}

.w-100 {
  width: 100px;
}

.mat-column-id {
  flex: 0 0 25% !important;
  max-width: 75px !important;
}

.mat-column-donorName {
  flex: 0 0 25% !important;
  max-width: 250px !important;
}

.panelorange {
  color: white;
  font-weight: bold;
  background-color: #F58D03;
}
