<form class="form-horizontal">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">తోట వారి ఎద్దు</h3></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="../assets/PabbamImages/2015/DSC_0032.JPG" class="thumbnail">
            <img src="../assets/PabbamImages/2015/DSC_0032.JPG" />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="../assets/PabbamImages/2015/DSC_0066.JPG" class="thumbnail">
            <img src="../assets/PabbamImages/2015/DSC_0066.JPG" />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="../assets/PabbamImages/2015/DSC_0083.JPG" class="thumbnail">
            <img src="../assets/PabbamImages/2015/DSC_0083.JPG" />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="../assets/PabbamImages/2015/DSC_0084.JPG" class="thumbnail">
            <img src="../assets/PabbamImages/2015/DSC_0084.JPG" />
          </a>
        </div>
      </div>
      <!--
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="../assets/NewImages/Suni (1).JPG" class="thumbnail">
              <p>Suni</p>
              <img src="../assets/NewImages/Suni (1).JPG" />
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="../assets/NewImages/chinni.jpg" class="thumbnail">
              <p>Suni</p>
              <img src="../assets/NewImages/chinni.jpg" />
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="../assets/NewImages/Suni (3).JPG" class="thumbnail">
              <p>Suni</p>
              <img src="../assets/NewImages/Suni (3).JPG" />
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="../assets/NewImages/Suni (4).JPG" class="thumbnail">
              <p>Suni</p>
              <img src="../assets/NewImages/Suni (4).JPG" />
            </a>
          </div>
        </div>
      -->
    </div>
  </div>
</form>
