<form class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      TVD Donar's list for Temple Sevas and Nandi / తోటరామన్నవూరు
      వేంకటేశ్వరస్వామి దేవస్థానము దాతల వివరాలు
      <button class="btn btn-danger btn-sm pull-right" onclick="newDonation()">
        Donate
      </button>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Month(s)</th>
              <th class="text-center">Name</th>
              <th class="text-center">Donation Details</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Donation Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>Jun 2015 to May 2018</td>
              <td>చలిచీమల సుబ్రమణ్యం నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 1,26,000 /-(3500/month)</td>
              <td><span class="badge">Paid</span></td>
            </tr>
            <tr class="warning">
              <td>Jun to Aug 2018</td>
              <td>తోట భద్రాచలం నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 15000 /-</td>
              <td><span class="badge">Paid</span></td>
            </tr>
            <tr class="info">
              <td>Sep to Nov 2018</td>
              <td>తోట మంజునాథ్ నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 15000 /-</td>
              <td><span class="badge">Paid</span></td>
            </tr>
            <tr class="warning">
              <td>December 2018</td>
              <td>తోట రమేష్ నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td><span class="badge">Paid</span></td>
            </tr>
            <tr class="info">
              <td>January 2019</td>
              <td>తోట మధు నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
            <tr class="warning">
              <td>February 2019</td>
              <td>తోట యువరాజులు నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
            <tr class="info">
              <td>March 2019</td>
              <td>తోట కనకరాజులు నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
            <tr class="warning">
              <td>April 2019</td>
              <td>తోట బాలయ్య నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
            <tr class="info">
              <td>May 2019</td>
              <td>తోట మహేష్ నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
            <tr class="warning">
              <td>June 2019</td>
              <td>తోట రవిబాబు నాయుడు</td>
              <td>దేవర ఎద్దు పశుగ్రాసము</td>
              <td>₹ 5000 /-</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="panel-danger" ng-style="{'background-color': red}">
      <h3 class="panel-title text-center">
        Donors need to transfor amount between 1st & 5th dates of respective
        month.
      </h3>
    </div> -->
  </div>
</form>
