<table width="100%">
  <tr>
    <td align="center" valign="top">
      <!-- Header Starts -->
      <table width="1002" class="Table2" cellspacing="0" cellpadding="0" id="Table2">
        <tr>
          <td>
            <div class="panel">
              <div style="text-align: center" class="panel-heading panelorange">
                <!-- TVD Donar's list for Temple Sevas and Nandi /  -->
                <u>తోటరామన్నవూరు</u>
              </div>
              <div style="text-align: left;" class="panel-body panelbody a">
                <u>గ్రామ చరిత్ర: </u>
                <br>
                    <p>దాదాపు 18 వ శతాబ్దం ప్రారంభంలో తోట రామన్న, అతని తమ్ముడు తోట లక్ష్మన్న ఈ ప్రదేశంలో ఆవులు మేపుకుంటూ పాలు
                అమ్ముకుని బ్రతికేవారు. వారు పాలెం కొండ జమిందారుకి నమ్మకస్తులు. ఒకసారి ఆయన వేరే రాజ్యానికి వెళుతూ వీరికి
                ఆ జమీన్ ఆస్తుల పరిరక్షణ బాధ్యతలు అప్పగించి వెళ్ళాడు. ఆయన వచ్చే వరకు ఆ జమీన్ ను ఆ జమిందార్ భార్య
                బిడ్డల్ని కాపలా కాయడం వీరి పని. </p>
                <br>
                    <p>ఒక రోజు ఆ జమీన్ లోకి దొంగలు పడ్డారు. ఈ అన్నదమ్ములు వారిని ఎదుర్కొని పోరాడారు. ఆ పాలెం కొండ జమిందారు
                భార్య బిడ్డల్ని కాపాడారు. అందుకు సంతోషించిన పాలెం జమిందారు వీరికి దాదాపు 100 ఎకరాల భూమిని ఇనాముగ
                ఇచ్చాడు. ఆ ప్రదేశాన్ని పెద్దవాడైన రామన్న పేరు మీద తోట రామన్న వూరు అని పేరు పెట్టి పట్టా చేసి ఇచ్చాడు.</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
